{% load bootstrap3 %}
{% block title %}メール作成{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          <div>
            {{ field.label }}:
          </div>
          {{ field }}
        </div>
        {% endfor %}
        <button class="btn" type="submit" name="action" value="send">メール送信</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}